/.well-known
/upload
/min/
/logs
/image
/error_log
/image/data/
/image/cache/
/system/cache/
/system/logs/
/storage/modification
/storage/cache
/storage/cache_fv
/storage/logs
/admin/config.php
config.php
.htpasswd
*.zip
*.gz
robots.txt
*.tar
*.tgz
*.log
*.txt
*.csv
*.id
*.xml
*.pdf
*.swp
*.sql
*.bin
*.tmp
.gitignore
