<script>
var hpmrr_cat_config =
{
    redirect: {{ hpmrr_cat_redirect }},
    item_selector: '.product-layout',
    price_selector: '.ds-module-price',
    main_photo_selector: '.ds-module-img-box img',
    name_selector: '.ds-category-item-info a',
    change_href: '.ds-category-item-info a, .ds-module-img-box a',
    cart_button: 'button[onclick ^= "cart.add"]',
    wishlist_button: 'button[onclick ^= "wishlist.add"]',
    compare_button: 'button[onclick ^= "compare.add"]',
    fastbuy_button: 'button[onclick ^="fastbuy"]',
    fastview_button: 'button[onclick ^="octPopUpView"]',
    stock_selector: '.ds-module-stock',
    model_selector: '.model',
    price_html: function($pinfo)
    {
        return  '<div class="ds-price-new fsz-18 fw-700 dark-text">' + $pinfo.price + '</div>';
    },
    get_discount_prec(special, price)
    {
        return Math.round((1 - (special / price)) * 100);
    },
    special_price_html: function($pinfo)
    {
          let precent = this.get_discount_prec($pinfo.special_noformat,$pinfo.price_noformat);
            
  return '<div class="d-flex align-items-center">' +
    '<div class="ds-price-old fsz-12 light-text text-decoration-line-through fw-500">' + $pinfo.price + '</div>' +
    '<div class="ds-module-sticker br-12 fw-500 red-bg ms-2">-' + precent + '%</div>' +
'</div>' +
'<div class="ds-price-new fsz-18 fw-700 red-text">' + $pinfo.special + '</div>';

    },
    replace_piece_cat: function($pinfo, $btn)
    {
        var $item = $btn.parents(this.item_selector);
        var cartadd_onclick = "cart.add('" + $pinfo.product_id + "', '1');";
        var wishlist_onclick = "wishlist.add('" + $pinfo.product_id + "');";
        var compare_onclick = "compare.add('" + $pinfo.product_id + "');";
        var fastbuy_onclick = "fastbuy('" + $pinfo.product_id + "');";
        var fastview_onclick = "octPopUpView('" + $pinfo.product_id + "');";
        
        $item.find(this.stock_selector).removeClass("green-text");
  
        if($pinfo.quantity <= 0)
        {
            $item.find(this.cart_button).addClass("disabled").attr('disabled','disabled');
        }
        else
        {
            $item.find(this.stock_selector).addClass("green-text");
            $item.find(this.cart_button).removeClass("disabled").removeAttr('disabled');
        }
        
        $item.find("input[name='product_id']").val($pinfo.product_id);
        $item.find(".hpm-block-cat").replaceWith($pinfo.hpm);
        $item.find(this.change_href).attr('href', $pinfo.href.replace(/&amp;/g, "&"));
        $item.find(this.main_photo_selector).attr('src', $pinfo.thumb).attr('srcset', $pinfo.thumb);
        $item.find(this.name_selector).html($pinfo.name);
        
        $item.find(this.cart_button).attr('onclick', cartadd_onclick);
        $item.find(this.wishlist_button).attr('onclick', wishlist_onclick);
        $item.find(this.compare_button).attr('onclick', compare_onclick);
        $item.find(this.fastbuy_button).attr('onclick', fastbuy_onclick);
        $item.find(this.fastview_button).attr('onclick', fastview_onclick);
        
        $item.find(this.stock_selector).html($pinfo.stock);
        $item.find(this.model_selector).html($pinfo.model);

        if($pinfo.special)
            $item.find(this.price_selector).html(this.special_price_html($pinfo));
        else
            $item.find(this.price_selector).html(this.price_html($pinfo));
    }
}
</script>