<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-4">
                
                <h5 class="modal-title fsz-20 d-flex align-items-center justify-content-between" id="subscribeModalLabel">{{ heading_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="subscribe-main-block" class="modal-body modal-body-info p-4">
                {{ detail_text }}
            </div>
        </div>
    </div>
</div>
