<script>
var hpmrr_cat_config =
{
    redirect: {{ hpmrr_cat_redirect }},
    item_selector: '.product-layout',
    price_selector: '.fm-module-price',
    main_photo_selector: '.fm-module-img a img',
    name_selector: '.fm-module-title a',
    change_href: '.fm-module-title a, .fm-module-img a',
    cart_button: 'button[onclick ^= "cart.add"]',
    wishlist_button: 'button[onclick ^= "wishlist.add"]',
    compare_button: 'button[onclick ^= "compare.add"]',
    fastbuy_button: 'button[onclick ^="fastbuy"]',
    fastview_button: 'button[onclick ^="octPopUpView"]',
    stock_selector: '.stock',
    model_selector: '.model',
    price_html: function($pinfo)
    {
          let html = '<div class="fm-module-price-bottom">';
			html += '<span class="fm-module-price-new">' + $pinfo.price + '</span>';
			html += '</div>';
				return html;	
    },
    get_discount_prec(special, price)
    {
        return Math.round((1 - (special / price)) * 100);
    },
    special_price_html: function($pinfo)
    {
 
        let precent = this.get_discount_prec($pinfo.special_noformat,$pinfo.price_noformat);
        
  			let html = '<div class="fm-module-price-top d-flex align-items-center justify-content-center">';
  			html += '<span class="fm-module-price-old">';
  			html += '<span class="price-area-">' + $pinfo.price + ' грн.</span>';
            html += '</span>';
            html += '<div class="fm-module-sticker-discount">-' + precent + '%</div>';
			html += '</div>';
			html += '<div class="fm-module-price-bottom">';
			html += '<span class="fm-module-price-new">' + $pinfo.special + ' грн.</span>';
			html += '</div>';
				return html;	
    },
    replace_piece_cat: function($pinfo, $btn)
    {
        var $item = $btn.parents(this.item_selector);
        var cartadd_onclick = "cart.add('" + $pinfo.product_id + "', '1');";
        var wishlist_onclick = "wishlist.add('" + $pinfo.product_id + "');";
        var compare_onclick = "compare.add('" + $pinfo.product_id + "');";
        var fastbuy_onclick = "fastbuy('" + $pinfo.product_id + "');";
        var fastview_onclick = "octPopUpView('" + $pinfo.product_id + "');";
        
        if($pinfo.quantity <= 0)
        {
            $item.find(this.cart_button).addClass("disabled").attr('disabled','disabled');
        }
        else
        {
            $item.find(this.cart_button).removeClass("disabled").removeAttr('disabled');
        }
        
        $item.find("input[name='product_id']").val($pinfo.product_id);
        $item.find(".hpm-block-cat").replaceWith($pinfo.hpm);
        $item.find(this.change_href).attr('href', $pinfo.href.replace(/&amp;/g, "&"));
        $item.find(this.main_photo_selector).attr('src', $pinfo.thumb).attr('srcset', $pinfo.thumb);
        $item.find(this.name_selector).html($pinfo.name);
        
        $item.find(this.cart_button).attr('onclick', cartadd_onclick);
        $item.find(this.wishlist_button).attr('onclick', wishlist_onclick);
        $item.find(this.compare_button).attr('onclick', compare_onclick);
        $item.find(this.fastbuy_button).attr('onclick', fastbuy_onclick);
        $item.find(this.fastview_button).attr('onclick', fastview_onclick);
        
        $item.find(this.stock_selector).html($pinfo.stock);
        $item.find(this.model_selector).html($pinfo.model);

        if($pinfo.special)
            $item.find(this.price_selector).html(this.special_price_html($pinfo));
        else
            $item.find(this.price_selector).html(this.price_html($pinfo));
    }
}
</script>