<div class="form-group required">
  <div class="col-sm-3">
    <label class="control-label" for="input-preorder-captcha">{{ entry_captcha }}</label>
  </div>
  <div class="col-sm-9">
    <div class="input-group">
	  <input type="text" name="captcha" id="input-preorder-captcha" class="form-control" />
	  <span class="input-group-addon"><img src="index.php?route=extension/captcha/preorder/basic/captcha" alt="" /></span>
	</div>
  </div>
</div>
