{% if checkout_method == 'iframe' %}
  <iframe src="{{ iframe_url }}" scrolling="no" width="560px" height="540px" frameBorder="0"></iframe>
{% else %}
  <div class="buttons">
      <a class="sc-btn sc-btn-primary br-4" href="{{ iframe_url }}">{{ button_confirm }}</a>
  </div>
{% endif %}